<mat-toolbar color="primary">
  <div id="logo-container" [routerLink]="'/'" >
    <div id="image-container"></div>
    <div id="bookie-container">BOOKIE</div>
  </div>
  <div class="buttons-container" *ngIf="userType == 'unauthenticated'">
    <button id="login-button" mat-button [routerLink]="'/login'">Log in</button>
    <button mat-button [routerLink]="'/register'">Register</button>
  </div>
  <div class="buttons-container" *ngIf="userType == 'Guest'">
    <button mat-button>Favourite accommodations</button>
    <button id="my-reservations-button" mat-button [routerLink]="'/reservations'">My reservations</button>
    <button mat-button routerLink="profile">Welcome, {{userName}}</button>
    <button id="logout-button" (click)="logOut()" mat-button >Log out</button>
    <button mat-icon-button aria-label="notifications">
      <mat-icon matBadge="0" matBadgeColor="accent" aria-hidden="false">notifications_active</mat-icon>
    </button>
  </div>
  <div class="buttons-container" *ngIf="userType == 'Owner'">
    <button mat-button [routerLink]="'/reservations'">Reservations for my accommodations</button>
    <button mat-button [routerLink]="'/owner/'+ this.tokenService.getIdFromToken()+'/accommodations'">View my accommodations</button>
    <button mat-button [routerLink]="'/create-accommodation'">Create an accommodation</button>
    <button mat-button routerLink="profile">Welcome, {{userName}}</button>
    <button (click)="logOut()" mat-button>Log out</button>
    <button mat-icon-button aria-label="notifications">
      <mat-icon matBadge="0" matBadgeColor="accent" aria-hidden="false">notifications_active</mat-icon>
    </button>
  </div>
  <div class="buttons-container" *ngIf="userType == 'Admin'">
    <button mat-button [routerLink]="'reviews/reported'">Reported comments</button>
    <button mat-button [routerLink]="'reviews/unapproved'">Unapproved comments</button>
    <button mat-button>Users</button>
    <button mat-button routerLink="profile">Welcome, {{userName}}</button>
    <button (click)="logOut()" mat-button>Log out</button>
    <button mat-icon-button aria-label="notifications">
      <mat-icon matBadge="0" matBadgeColor="accent" aria-hidden="false">notifications_active</mat-icon>
    </button>
  </div>
</mat-toolbar>
